{%extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="container text-center">
    <div class="card bg-dark" style="background: linear-gradient(0.25turn,#78c0e2 ,45%,#ec92db);">
        <div class="row text-white">
            <div class="col-4">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="" style="width:300px; height:300px; " class="m-5 border">
                {% else %}
                <img src="{% static 'images/default.png' %}" alt="" style="width:300px; height:300px;"
                    class="m-5 border circle">
                {% endif %}
            </div>
            <div class="col-8 mt-5">
                <p>Phone Number : {{user.phone_number}}</p>
                <p>firstname : {{user.firstname}}</p>
                <p>lastname : {{user.lastname}}</p>
                <p>postal_code : {{user.postal_code}}</p>
                <p>birth_date : {{user.birth_date}}</p>
                <p>Email : {{user.email}}</p>
                <a href="{% url 'register:update' %}" class="btn btn-info w-25">Edit</a>
                <br>
                {% if order %}
                <h3>History_buy : </h3>
                {% for order in order%}
                Date:{{order.created}} Total Price : {{order.get_total_price }}
                <br>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div> -->
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if user.image %}
                        <img src="{{ user.image.url }}"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        {% else %}
                        <img src="{% static 'images/default.png' %}"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        <h5 class="my-3">{{user.phone_number}}</h5>
                        <p class="text-muted mb-1">{{user.lastname}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{% url 'register:update' %}" class="btn btn-info w-25">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.firstname}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.lastname}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Birth Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.birth_date}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Postal Code</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.postal_code}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if order %}
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card mb-4">
                <div class="card-body">
                    {% for order in order%}
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Date :</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-muted mb-0">{{order.created}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="mb-0">Total Price :</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-muted mb-0">{{order.get_total_price}}</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}