<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Mobin Shop - Ultimate eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Riode - eCommerce Template">
    <meta name="author" content="D-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/png"  href="{% static 'base/images/icons/logo.jpg' %}">
    <!-- Preload Font -->
    <link rel="preload" href="{% static 'base/fonts/riode.ttf?5gap68' %}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'base/vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{% static 'base/vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <script>
        WebFontConfig = {
            google: { families: [ 'Poppins:400,500,600,700,800' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/animate/animate.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/magnific-popup/magnific-popup.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/owl-carousel/owl.carousel.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/sticky-icon/stickyicon.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/main.css'%}">
</head>

<body class="home">

    <div class="page-wrapper">
        <h1 class="d-none">Riode - Responsive eCommerce HTML Template</h1>
        {% include 'inc/header.html' %}
        {% include 'inc/main.html' %}
        {% include 'inc/footer.html' %}
    </div>

    <!-- Sticky Footer -->
    {%include 'inc/sticky-footer.html' %}
    <!-- Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>

    <!-- MobileMenu -->
    {% include 'inc/mobile-menu.html' %}

    <!-- newsletter-popup type2 -->
    <div class="newsletter-popup newsletter-pop2 mfp-hide" id="newsletter-popup">
        <figure>
            <img src="images/newsletter-popup2.jpg" width="500" height="264" alt="newsletter2" />
        </figure>
        <div class="newsletter-content">
            <h2 class="font-weight-bolder">Join Our Mailing List</h2>
            <p class="text-grey">Stay Informed!Monthly Tips and Discount.</p>
            <form action="#" method="get" class="input-wrapper input-wrapper-inline input-wrapper-round">
                <input type="email" class="form-control email" name="email" id="email2"
                    placeholder="Email address here..." required="">
                <button class="btn btn-dark" type="submit">SUBMIT</button>
            </form>
            <div class="form-checkbox justify-content-center">
                <input type="checkbox" class="custom-checkbox" id="hide-newsletter-popup" name="hide-newsletter-popup"
                    required />
                <label for="hide-newsletter-popup">Don't show this popup again</label>
            </div>
            <div class="social-links">
                <a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
                <a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
                <a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
            </div>
        </div>
    </div>

    <!-- sticky icons-->
	<div class="sticky-icons-wrapper">
		<div class="sticky-icon-links">
			<ul>
				<li><a href="#" class="demo-toggle"><i class="fas fa-home"></i><span>Demos</span></a></li>
				<li><a href="documentation.html"><i class="fas fa-info-circle"></i><span>Documentation</span></a>
				</li>
				<li><a href="https://themeforest.net/downloads/"><i class="fas fa-star"></i><span>Reviews</span></a>
				</li>
				<li><a href="https://d-themes.com/buynow/riodehtml"><i class="fas fa-shopping-cart"></i><span>Buy
							now!</span></a></li>
			</ul>
		</div>
		<div class="demos-list">
			<div class="demos-overlay"></div>
			<a class="demos-close" href="#"><i class="close-icon"></i></a>
			<div class="demos-content scrollable scrollable-light">
				<h3 class="demos-title">Demos</h3>
				<div class="demos">
				</div>
			</div>
		</div>
	</div>
	<!-- Plugins JS File -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
    <!-- Main JS File -->
    <script src="js/main.min.js"></script>
</body>

</html>